* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: "Rubik", sans-serif;
  color: #555;
  background-image: url(background-image.avif);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  width: 100%;
}

/* HEADER START */
.header {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 1rem auto;
  border-bottom: 3px solid rgba(0, 0, 255, 0.2);
  padding: 2rem;

  /* border-bottom: 1px solid #000; */
}

.header .logo .header-logo {
  font-size: 2.4rem;
  cursor: pointer;
}

.header .logo .header-logo span {
  color: #1c7ed6;
}

.header .navbar .navbar-items {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  align-items: center;
}
.navbar .navbar-items .navbar-list {
  font-size: 1.7rem;
  cursor: pointer;
}

.navbar .navbar-items .navbar-list:hover {
  color: #1c7ed6;
}
.fa-bars {
  font-size: 4rem;
  display: none;
  color: #1c7ed6;
}
.btn {
  background-color: #1c7ed6;
  padding: 2rem 5rem;
  border: none;
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 1px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  transition: all 0.5s;
  cursor: pointer;
}
.btn:hover {
  background-color: #1864ab;
}
/* HEADER END */

/* HERO SECTION START */
.hero {
  height: 80%;
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.content-wrapper {
  height: 80%;
  width: 40%;
}

.content-wrapper .heading-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60%;
}

.content-wrapper h1 {
  font-size: 4rem;
  margin-left: 3rem;
  margin-bottom: 2rem;
  font-weight: 700;
  color: #356391;
}
.content-wrapper h2 {
  font-size: 2rem;
  margin-left: 3rem;
  font-weight: 500;
  color: #355c7d;
}
/* HERO SECTION END */

/* FORM START */
.form {
  height: 80%;
  width: 30%;
}

.form-wrapper {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin: 8rem auto;
  opacity: 0.9;
}

.form-wrapper h2 {
  margin: 2rem auto;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
}

.form-wrapper h3 {
  margin-bottom: 2rem;
}

.form-wrapper input {
  width: 80%;
  padding: 12px 13px;
  border-radius: 6px;
  border: none;
}

.form-wrapper p {
  font-size: 13px;
}

.btn-form {
  padding: 2rem 4rem;
  margin: 2rem auto;
  letter-spacing: 1px;
}
/* FORM END */

/* Awal Footer */
footer {
  /* background-color: #f2f2f2; */
  height: 10%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  border-top: 3px solid rgba(0, 0, 255, 0.2);
  padding: 4rem;
}

.footer-logo {
  flex-basis: 30%;
}

.footer-logo .header-logo {
  color: #444;
  font-weight: 700;
  font-size: 2.5rem;
}

.footer-logo img {
  max-width: 100%;
}

.footer-links {
  flex-basis: 40%;
}

.footer-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.footer-links li {
  margin: 0 1rem;
}

.footer-links ul li a {
  color: #555;
  text-decoration: none;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 500;
}

.footer-links ul li a:hover {
  color: #1c7ed6;
}

.footer-social {
  flex-basis: 30%;
  text-align: right;
}

.footer-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.footer-social li {
  margin: 0 1rem;
}

.footer-social a {
  color: #fff;
  text-decoration: none;
}

.footer-social a:hover {
  color: #1c7ed6;
}

.footer-logo .header-logo span {
  color: #1c7ed6;
}

.footer-social i {
  font-size: 2rem;
}
/* Akhir Footer */

/* MEDIA QUERIES */

/* Larger Desktop: 1200-1400px */
@media (min-width: 75em) and (max-width: 87.5em) {
  html {
    font-size: 56.25%;
  }
  .footer-container {
    margin-top: 18rem;
  }
}
/* Large Desktop: 1000-1200px */
@media (min-width: 62.5em) and (max-width: 75em) {
  html {
    font-size: 50%;
  }
  .footer-container {
    margin-top: 18rem;
  }
}
/* Tablet: 800-1000px */
@media (min-width: 50rem) and (max-width: 62.5em) {
  html {
    font-size: 43.75%;
  }
  .navbar .navbar-items .navbar-list {
    font-size: 1.5rem;
  }

  .hero {
    margin-top: 7rem;
  }

  .content-wrapper .heading-wrapper {
    gap: 0;
  }

  .content-wrapper {
    width: 80%;
  }
  .form {
    width: 80%;
  }

  .content-wrapper h1 {
    font-size: 4.8rem;
  }
  .content-wrapper h2 {
    font-size: 3rem;
  }

  .navbar .navbar-items .navbar-list {
    font-size: 1.6rem;
    cursor: pointer;
  }

  .footer-container .footer-logo .header-logo {
    font-size: 2rem;
  }

  .footer-links ul li a {
    font-size: 1.7rem;
  }
  .footer-container {
    margin-top: 18rem;
  }
}
/*  Landscape phone: 600-800px  */
@media (min-width: 37.5em) and (max-width: 50em) {
  html {
    font-size: 37.5%;
  }

  .hero {
    flex-direction: column;
    margin-top: 6rem;
  }

  .content-wrapper {
    width: 80%;
  }
  .form {
    width: 80%;
  }

  .content-wrapper h1 {
    font-size: 4rem;
  }
  .content-wrapper h2 {
    font-size: 2.5rem;
  }
  .btn-header {
    display: none;
  }
  .header .navbar .navbar-items {
    display: none;
  }
  .fa-bars {
    display: block;
  }
  .footer-container {
    margin-top: 20rem;
  }
}
/*  Small phone: 400-600px  */
@media (min-width: 25em) and (max-width: 37.5em) {
  .hero {
    flex-direction: column;
    margin-top: 6rem;
  }

  .header .navbar .navbar-items {
    display: none;
  }

  .btn-header {
    display: none;
  }

  .fa-bars {
    display: block;
  }

  .content-wrapper h1 {
    font-size: 2rem;
  }
  .content-wrapper h2 {
    font-size: 1.5rem;
  }

  .form {
    width: 80%;
  }

  .btn-form {
    padding: 1rem 3rem;
    font-size: 1.2rem;
  }

  .footer-container {
    gap: 3rem;
    margin-top: 18rem;
    justify-content: center;
  }
  .footer-logo .header-logo {
    font-size: 1.5rem;
  }
  .footer-links a {
    font-size: 2rem;
  }
  .footer-social {
    flex-basis: 0%;
    margin-top: 2rem;
  }
}
/*  Small phone: 200-400px  */
@media (min-width: 12.5em) and (max-width: 37.5em) {
  .header {
    gap: 1rem;
  }
  .hero {
    flex-direction: column;
    margin-top: 6rem;
  }

  .fa-bars {
    font-size: 2rem;
  }
  .content-wrapper {
    width: 100%;
  }

  .content-wrapper h1 {
    font-size: 3.5rem;
  }
  .content-wrapper h2 {
    font-size: 2.5rem;
  }

  .form {
    width: 80%;
  }

  .btn-form {
    padding: 1rem 3rem;
    font-size: 1rem;
  }

  .header .navbar .navbar-items {
    display: none;
  }

  .btn-header {
    display: none;
  }

  .fa-bars {
    display: block;
  }

  .footer-container {
    flex-wrap: wrap;
    margin-top: 18rem;
    gap: 2rem;
    justify-content: center;
  }

  .footer-logo .header-logo {
    font-size: 2rem;
  }
  .footer-logo .footer-links a {
    font-size: 1.5rem;
  }

  .footer-social {
    flex-basis: 50%;
    margin-top: 2rem;
    margin-left: 3rem;
  }
  .footer-social a {
    color: #222;
    margin-right: 5rem;
  }
  .footer-social a:hover {
    color: #fff;
  }
}
/*  Small phone: 0-200px  */
@media (min-width: 0em) and (max-width: 15.6em) {
  .header {
    flex-direction: column;
  }
}
